:root{
    --bg-color:#0f0f11;
    --text-color:#ffffff;
    --glass-bg: rgba(255,255,255,0.05);
    --glass-border:rgba(255,255,255,0.1);
}

body{
    margin:0;
    padding:0;
    background-color: var(--bg-color);
    font-family: "Outfit", sans-serif;
    color: var(--text-color);
    width: 100vw;
    height:100vh;
}
#scene-container{
    position: absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
.pill{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    font-width: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    cursor: grab;
    user-select: none;
    will-change: transform;
    pointer-events: auto;
    
}
.pill:hover{
    transform: scale(1.1);
    transition: 0.3s;
}